# Grav Specific
accounts/*
!accounts/.*
data/*
!data/.*
plugins/*
!plugins/.*
themes/academydeliver/.sass-cache
localhost/config/security.yaml
config/security.yaml
staging.academyrealestatetraining.com/config/security.yaml
www.academyrealestatetraining.tk/config/security.yaml
www.academyrealestatetraining.com/config/security.yaml
config/plugins/email.yaml
config/plugins/form.yaml

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

