%button {
    display: inline-block;
    padding: 7px 20px;
    margin: 0.5rem 1rem 0.5rem 0;
    font-family: $font-family-header;
    border-radius: $border-radius;
    box-shadow: none;
    font-size: $core-font-size;
    border: 0 none;
    background-color: $core-accent;
               color: $white;

    &.button-small {
        padding: 3px 10px;
        font-size: $core-font-size - 0.1rem;
    }

    &.button-chat-bubble {
        &:hover {
            border-color: $core-accent;

            &:after {
                border-color: transparent $core-accent;
            }
        }

        &:after {
            content: "";
            position: absolute;
            margin-top: 7px;
            border-width: 0 20px 20px 0px;
            border-style: solid;
            border-color: transparent $core-accent;
            display:block;
            width:0;
        }

        @include breakpoint(mobile-only) {
            padding: 3px 10px;
            font-size: $core-font-size - 0.1rem;

            &:after {
                content: "";
                position: absolute;
                margin-top: 0px;
                border-width: 0 20px 20px 0px;
                border-style: solid;
                border-color: transparent $core-accent;
                display:block;
                width:0;
            }
        }
    }
}

@mixin button-color($color) {
    background: $color;
         color: $white;
    border: 1px solid $color;
    &:hover {
      background: $white;
           color: $color;
    }
}
