.footer {
    font-size:  $core-font-size - 0.1rem;
    background: #001f49;
    width: 100%;
    @extend .padding-horiz;
    padding-top: 2rem;
    @include clearfix;
    box-shadow: 0px 500px 0px 500px $core-accent-dark;
    a {
      color: $core-text;
      &:hover {
        color: darken($core-accent, 20%);
      }
    }
    h4 {
      line-height: 2rem;
      margin-top: 0;
      text-align: left;
      color: $white;
    }
    hr {
      border-color: transparentize($core-text, 0.5);
    }
    ul.social-icons {
      list-style: none;
      line-height: 2rem;
      margin: 0;
      font-size: $core-font-size;
      @extend %vertical-align;

      @include breakpoint(mobile-only) {
        float: none;
        clear: both;
        width: 100%;
        padding-top: 2rem;
      }
      @include breakpoint(tablet-range) {
        float: none;
        clear: both;
        width: 100%;
        // padding-top: 2rem;
      }

      li {
        @extend .default-animation;
        float: left;
        width: 2.1rem;
        height: 2.1rem;
        background: $white;
        text-align: center;
        margin-right: 0.8rem;
        a {
          @extend .default-animation;
          color: $black;
          display: block;
          margin-top: 0.1rem;
        }
        &:hover {
          background: transparentize($white, 0.5);
        }
      }
    }
    .footer-items {
      margin-top: 2rem;
      @include breakpoint(mobile-only) {
        margin-top: 0;
      }
      @supports not (flex-wrap: wrap) {
        overflow: hidden;
      }
      @include clearfix;
    }
    .footer-module {
      &.large {
        width: 40%;
      }
      &.centered {
        @include breakpoint(no-mobile) {
          text-align: center;
        }
        width: 30%;
      }
      display: block;
      float: left;
      width: 30%;
      vertical-align: top;
      @include breakpoint(large-mobile-range) {
        margin-top: 1rem;
        width: 50%;
      }
      @include breakpoint(small-mobile-range) {
        margin-top: 1rem;
        padding-right: inherit;
        width: 100%;
      }
      span {
        @include clearfix;
      }
      strong {
        color: $white;
      }
      @include breakpoint(mobile-only) {
        width: 100% !important;
        float: none;
      }
      .emailaddress i {
        padding-right: 0.5rem;
        color: #fff;
        font-size: 0.7rem;
      }
    }
    .footer-modules {
      @include clearfix;
      display: block;
      padding-bottom: 1.5rem;
    }
    .footer-copyright {
      font-family: $font-family-header;
      display: inline-block;
      text-align: left;
      @include breakpoint(mobile-only) {
         width: 100%;
         float: none;
         text-align: left;
      }
    }
    .footer-social {
      margin: 0.5rem auto 0;
      display: inline-block;
      float: none;
    }
    .footer-menu {
      float: right;
      text-align: right;
      font-family: $font-family-header;
      @include breakpoint(mobile-only) {
         width: 100%;
         float: none;
         text-align: left;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }
    .newsletter {
      input {
        display: inline-block;
        height: 2.5rem;
        border: 0 none;
      }
      input[type=text] {
        background-color: transparentize($header-text, 0.8);
        color: $white;
      }
      input[type=submit] {
        background-color: transparentize($header-text, 0.5);
        color: $white;
        padding: 0 1.2rem;
        vertical-align: top;
      }
    }
  }
