// Header styling

#header {
    @extend .padding-horiz;
    position: absolute;
    z-index: 11;
    width: 100%;
    height: $header-height;
    background-color: rgba(255,255,255,0.90);
    box-shadow: 0 0.05rem 1rem rgba(0,0,0, 0.15);

    > .grid, .logo, #navbar, .social-navigation {
        height: 50%;
    }

    .logo {
        h3 {
            @extend %vertical-align;

            @include breakpoint(mobile-only) {
                font-size: 1.9rem;
            }
            img {
                max-height: 42px;
            }
        }
        ul {
            &.social-icons {
                @extend %vertical-align;
            }
        }
        ul {
            &.login {
                @extend %vertical-align;
            }
        }

        .search-box {
            @include breakpoint(mobile-only) {
               display: none;
            }
        }
    }

    .search-box {
        @extend %vertical-align;
        display: block;
        float: right;
        text-align: right;
        margin-right: 0.75rem;
        padding: ($leading-margin / 4) 0;
        i {
            color: $header-text;
            position: absolute;
            top: 0.5rem;
            right: 0.6rem;
            padding-top: ($leading-margin / 4);
            z-index: -1;
            cursor: pointer;
        }
        input::-webkit-search-decoration,
        input::-webkit-search-cancel-button {
            display: none;
        }
        input[type=search] {
            outline: none;
            cursor: pointer;
            -webkit-appearance: textfield;
            -webkit-box-sizing: content-box;
            font-family: inherit;
            font-size: 100%;
            border: 0 none;
            box-shadow: none;
            color: transparent;
            background: transparent;
            width: 4rem;
            height: 2rem;
            line-height: 2rem;
            margin-bottom: 0;
            padding: 0 ($leading-margin / 4);
            font-size:  $core-font-size - 0.1rem;
            @include transition(all .5s);

            &:focus {
                width: 12rem;
                background-color: transparentize($header-text, 0.7);
                cursor: auto;
                color: $header-text;
            }
        }

        input:-moz-placeholder {
            color: transparent;
        }
        input::-webkit-input-placeholder {
            color: transparent;
        }

    }

    #navbar {
        //font-size: $core-font-size + 0.1rem;
        ul {

            margin: 0;
            padding: 0;
            list-style: none;

            &.navigation {
                @extend %vertical-align;
                display: inline-block;
                float: left;
                li {
                    float: left;
                    position: relative;

                    a {
                        font-family: $font-family-header;
                        display: inline-block;
                        padding: 0.3rem 0.7rem;

                        &.active, &:hover {
                            background: white;
                            color: $core-accent;
                            color: darken($core-accent, 20%);
                        }
                    }
                    &:hover {
                        background: rgba(244, 244, 244, 0.9);
                        a {
                            color: $core-accent;
                        }
                    }

                    ul {
                        display: none;
                        padding: 0;

                    }

                    ul ul {
                        left: 100%;
                        top: 0;
                    }


                    &:hover {
                        & > ul {
                            display: block;
                            position: absolute;
                            background: rgba(244, 244, 244, 0.9);
                            width: 18rem;
                        }

                        li {
                            float: none;
                            margin: 0;
                            padding: 0;

                            a {
                                padding: 0.5rem 0.8rem;
                                display: block;
                                text-transform: none;

                                &:hover {
                                    border-bottom: 0;
                                }

                                &:before, &:after {
                                    display: none;
                                }
                            }

                            &.active {
                                & > a {
                                    background: $core-accent;
                                    color: $white;
                                }
                            }
                        }
                    }
                }
                @include breakpoint(mobile-only) {
                    display: none;
                }
            }

            &.social-icons {
                float: right;
                line-height: 2rem;
                margin: 0;
                @extend %vertical-align;

                li {
                    @extend .default-animation;
                    float: left;
                    width: 2.1rem;
                    height: 2.1rem;
                    background: $white;
                    border-radius: 100%;
                    text-align: center;
                    margin-right: 0.8rem;
                    a {
                        @extend .default-animation;
                        display: block;
                        margin-top: 0.1rem;
                    }
                    &:hover {
                        background: transparentize($white, 0.7);
                    }
                }
            }

            &.login {
                float: right;
                line-height: 2rem;
                margin: 0;
                @extend %vertical-align;

                li {
                    @extend .default-animation;
                    width: 2.1rem;
                    background: $white;
                    border-radius: 100%;
                    text-align: center;
                    margin-left: 0.8rem;
                    .fa {
                        color: white;
                    }
                    &:hover {
                    }
                    a {
                        @extend .default-animation;
                        color: $black;
                        display: block;
                    }
                    &:hover {
                        background: transparentize($white, 0.5);
                        .fa {
                          color: $light-gray;
                        }
                    }
                }
            }
        }

        .panel-activation {
            @extend %vertical-align;
            padding: 1rem;
            display: none;
            font-size: $core-font-size + 0.25rem;
            cursor: pointer;
            float: left;
            text-transform: uppercase;
            @include breakpoint(mobile-only) {
                display: inline-block;
            }
        }

        .search-box {
            @include breakpoint(no-mobile) {
               display: none;
            }
        }
    }
}

.header-image {
    &.fullwidth {
        #body {
            padding-left: 0;
            padding-right: 0;

            >.listing-row {
                padding-left: $padding-horiz;
                padding-right: $padding-horiz;
            }
        }
    }
    .listing-row:last-child {
        margin-bottom: 2rem;
    }

    #body {
        .slideme_container .showcase {
            margin-top: - $header-height - $padding-vert - 0.5rem;
            padding-top: $header-height + 4rem;
        }

        .showcase_container .showcase {
            margin-top: - $header-height - $padding-vert - 0.5rem;
            padding-top: $header-height + 2rem;
        }
    }

    #breadcrumbs {
        //margin-top: 1rem;
    }

    #header {
        background-color: rgba($header-text,0);
        box-shadow: none;

        #logo h3, #logo a {
            color: $header-text;
        }
        a, .menu-btn {
            color: $header-text;
        }
        .menu-btn-label {
            font-family: $font-family-default;
            font-size: $core-font-size + 0.25rem;
            text-transform: none;
        }
        a:before, a:after {
            background-color: rgba($header-text,0.7) !important;
        }

        #navbar ul.navigation  {
            ul li a {
                color: $core-accent;
                text-transform: none;
                &:hover {
                    color: darken($core-accent, 20%);
                    border-bottom: 0;
                }
            }
        }
    }
}
.header-lite {
    #header {
        box-shadow: none;
        color: $light-gray;
        a, .menu-btn {
            color: $light-gray;
        }
        #navbar ul.navigation  {
            ul li a {
                color: $core-accent;
                text-transform: none;
                &:hover {
                    color: darken($core-accent, 20%);
                    border-bottom: 0;
                }
            }
        }
        .search-box {
            i {
                color: $light-gray;
            }
            input[type=search] {
                &:focus {
                    background-color: transparentize($light-gray, 0.6);
                }
            }
        }
        li.active a {
            color: $core-accent;
        }
        .logo ul.social-icons li {
            background: transparentize($light-gray, 0.8);
            .fa {
                color: white;
            }
            &:hover {
                .fa {
                    color: $light-gray;
                }
            }
        }
        .logo ul.login li {
            background: transparentize($light-gray, 0.8);
            &:hover {
                .fa {
                    color: $light-gray;
                }
            }
        }
    }

    #body {
        .showcase_container .showcase {
            margin-top: -1rem;

            .showcaseoverlay {
                display: none;
            }
        }
    }
}
