
// Modal Window
.portfolio-modal .close-modal {
    position: absolute;
    top: 0;
    right: 0;
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    cursor: pointer;
    font-size: 3rem;
    @include breakpoint(mobile-only) {
        font-size: 2em;
        width: 1.4em;
        height: 1.4em;
        line-height: 1.4em;
    }
}
.modal {
    @extend .default-animation;
    display: none;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: $white;
    text-align: center;
    @include breakpoint(mobile-only) {
        h1 {
            margin: 0.5rem 0;
        }
        form, p, ul {
            margin: 1rem;
        }
        ul {
            margin-top: 0;
        }
    }
    &.in {
        opacity: 1;
    }
    .client-details {
        list-style-type: none;
        li {
            display: inline-block;
        }
    }
    .modal-content {
        margin: 0 auto;
        width: 35rem;
        min-height: 100%;
        margin-top: 5rem;
        @include breakpoint(tablet-range) {
            width: 100%;
        }
        @include breakpoint(mobile-only) {
            margin-top: 0;
            width: 100%;
        }
        img {
            max-height: 15rem;
        }
    }
}
