.simplesearch {

    padding-top: 1rem;

    h1 {
        margin-bottom: 0;
    }

    .center {
        text-align: center;
    }


    .search-box {
        @extend %vertical-align;
        display: block;
        top: 0;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        margin-right: 0.75rem;
        padding: ($leading-margin / 4) 0;
        i {
            position: absolute;
            top: 1rem;
            right: 0.6rem;
            z-index: 100;
            cursor: pointer;
        }
        input[type=search] {
            outline: none;
            cursor: pointer;
            -webkit-appearance: textfield;
            -webkit-box-sizing: content-box;
            font-family: inherit;
            font-size: 100%;
            box-shadow: none;
            width: 100%;
            height: 2rem;
            line-height: 2rem;
            margin-bottom: 0;
            padding: 0 ($leading-margin / 4);
            font-size:  $core-font-size - 0.1rem;
          }
    }

    .search-image {
        margin: 1rem 0;
        img {
           border-radius: 4px;
           max-width: 100px;

           @include breakpoint(mobile-only) {
                display: none;
            }
        }
    }

    .search-item {
        min-height: 5rem;
        margin-bottom: 1em;
        @include breakpoint(mobile-only) {
            margin-left: 0;
        }
    }

    .search-details {
        float: right;
        margin-top: -1.8rem;
        font-weight: bold;
        font-size: 1rem;
        color: lighten($core-text,20%);

        @include breakpoint(mobile-only) {
            float: none;
            margin-top: -0.2rem;
            margin-bottom: 1rem;
        }
    }

    hr {
        border-bottom: 1px solid #eee;
        clear: both;
    }

}
#sidebar .sidebar-content.simplesearch {
  i {
    display: none;
  }

  input {
      font-size: 1rem;
  }
}
