// Academy Training Pathways
#training_paths_accordion {
  $accordion-height: 36;
  $accordion-icon-width: 2;
  $accordion-icon-height: 14;
  $accordion-icon-x: round(($accordion-height - $accordion-icon-height) / 2); // = 11
  $accordion-icon-y: round(($accordion-height - $accordion-icon-width) / 2); // = 12

  .panel {
    border: none;
    box-shadow: none;
    border-radius: 0;
    .panel-heading {
      border: none;
      border-radius: 0;
      background-color: $core-accent-dark;
      padding: 0;
      &:hover {
        background-color: $core-accent;
      }
      .accordion-toggle {
        display: block;
        height: #{$accordion-height}px;
        /* symbol for opened panels */
        background-image: #{inline-svg("<svg width='#{$accordion-height}' height='#{$accordion-height}' viewBox='0 0 #{$accordion-height} #{$accordion-height}' xmlns='http://www.w3.org/2000/svg'> <rect fill='#000' width='#{$accordion-height}' height='#{$accordion-height}' x='0' y='0'></rect> <rect fill='#FFF' width='#{$accordion-icon-height}' height='#{$accordion-icon-width}' x='#{$accordion-icon-x}' y='#{$accordion-icon-y}'></rect> </svg>")};
        background-repeat: no-repeat;
        background-position: 0% 50%;
        h4 {
          text-align: left;
          display: inline-block;
          margin-left: 2rem;
          padding: 5px 15px;
        }
      }
      .accordion-toggle.collapsed {
          /* symbol for collapsed panels */
          background-image: #{inline-svg("<svg width='#{$accordion-height}' height='#{$accordion-height}' viewBox='0 0 #{$accordion-height} #{$accordion-height}' xmlns='http://www.w3.org/2000/svg'> <rect fill='#000' width='#{$accordion-height}' height='#{$accordion-height}' x='0' y='0'></rect> <rect fill='#FFF' width='#{$accordion-icon-height}' height='#{$accordion-icon-width}' x='#{$accordion-icon-x}' y='#{$accordion-icon-y}'></rect> <rect fill='#FFF' width='#{$accordion-icon-width}' height='#{$accordion-icon-height}' x='#{$accordion-icon-y}' y='#{$accordion-icon-x}'></rect> </svg>")};
      }
      a.accordion-toggle {
          text-decoration: none;
          color: $white;
      }
    }
  }
}

.training-path-actions {
  @include clearfix;
}

.training-path-summary {

  .training-path-description {
    padding-right: 2rem;

    @include breakpoint(mobile-only) {
      padding: inherit;
    }

    .training-path-actions {
      text-align: center;

      .button {
        min-width: 16rem;

        @include breakpoint(mobile-only) {
          width: 100%;
        }
      }
    }
  }
  .training-path-list {

    ol {
      counter-reset:  li; /* Initiate a counter */
      margin-left:    0;  /* Remove the default left margin */
      padding-left:   0;  /* Remove the default left padding */
    }
    ol > li {
      position:   relative;     /* Create a positioning context */
      margin:     0 0 6px 2em;  /* Give each list item a left margin to make room for the numbers */
      padding:    4px 8px;      /* Add some spacing around the content */
      list-style: none;         /* Disable the normal item numbering */
      border-top: 2px solid $secondary-link;
      background: $secondary-bg;
    }
    ol > li:before {
      content:            counter(li);  /* Use the counter as content */
      counter-increment:  li;           /* Increment the counter by 1 */

      /* Position and style the number */
      position:           absolute;
      top:                -2px;
      left:               -2em;
      -moz-box-sizing:    border-box;
      -webkit-box-sizing: border-box;
      box-sizing:         border-box;
      width:              2em;

      /* Some space between the number and the content in browsers that support
        generated content but not positioning it (Camino 2 is one example) */
      margin-right:       8px;
      padding:            4px;
      border-top:         2px solid $secondary-link;
      color:              $white;
      background:         $secondary-link;
      font-weight:        bold;
      text-align:         center;
    }
    li ol,
    li ul {               margin-top:6px; }
    ol ol li:last-child { margin-bottom:0; }

  }
}

.salvattore-grid .training-paths-course {
  margin-bottom:  2rem;
}