body.template-image-collage {
  h2 {
    clear: both;
    padding-top: 2rem;
  }
  h3 {
    line-height: 1;
  }
  ul.image-collage {
    list-style: none;
    clear: both;
    margin: 0;

    li {
      display: inline;

      a {
        display: block;
        @include breakpoint(no-mobile) {
          float: left;
        }
        img {
          margin: 0 1rem 1rem 0;
          max-width: 200px;
          max-height: 200px;
          @include breakpoint(mobile-only) {
            display: block;
            margin: 0 auto 1rem;
          }
        }
      }
    }
    .image-info {
      text-align: center;
    }
  }

  .sibling-item {
    display: inline;
    float: left;
    margin: 0 1rem 1rem 0;
    @include breakpoint(mobile-only) {
      display: block;
      float: none;
      margin: 0 auto 1rem;
    }

    ul.image-collage {
      @include breakpoint(no-mobile) {
        max-width: 150px;
      }
    }

    .image-surround img {
        border-radius: 4px;
        max-width: 150px;
        max-height: 150px;
    }

    .image-info {
      a, h3, p {
        float: none;
        margin: 0;
      }
    }

  }

}
