// Modular Menus styling
.modular {
    .menus {
        padding: 0 0 4rem 0;
        padding-bottom: 1rem;
        text-align: center;
        @include clearfix;

        h2 {
            margin: 0;
            line-height: 100%;
            color: $light-gray;
        }

        hr {
            margin-top: .5rem;
        }

        p {
            margin: 1rem 0;

            @include breakpoint(mobile-only) {
                font-size: $core-font-size;
            }
        }

        .menu-items {
            margin-top: 2rem;
            @supports not (flex-wrap: wrap) {
                overflow: hidden;
            }
        }

        .menu {
            display:block;
            float: left;
            width: 33.33%;
            vertical-align: top;
            margin-top: 2rem;
            margin-bottom: 1rem;
            margin-left: 0;
            list-style: none;
            text-align: left;
            @include breakpoint(large-mobile-range) {
                margin-top: 1rem;
                width: 50%;
            }
            @include breakpoint(small-mobile-range) {
                margin-top: 1rem;
                width: 100%;
            }

            .menu {
              margin-top: .5rem;
              width: 100%;
            }

            i.fa {
              padding-right: 0.5rem;
              // color: #fff;
              font-size: 0.7rem;
            }
            i.fa-li {
              top: .75em;
            }

            h4 {
                margin: 0;
                font-size: 1.1rem;
            }

            p {
                display: inline-block;
                font-size: $core-font-size;
                margin: 0.2rem 0 1rem;
            }
        }

        &.big {
            text-align: center;
            .menu {
                width: 33.33%;
                @include breakpoint(small-mobile-range) {
                    margin-top: 1rem;
                    width: 100%;
                }

                .menu {
                  margin-top: .5rem;
                  width: 100%;
                }

            }

            .menu-content {
                padding-right: 2rem;

                &.icon-offset {
                    margin-left: 1rem;
                }

                h4 {
                    font-size: 1.2rem;
                }

                p {
                    padding: 0;
                }
            }
        }

    }

}
