// Showcase styling

// special case for header
.header-image {
    #header {
        background-color: rgba(255,255,255,0);
        box-shadow: none;

        #logo h3 {
            color: $header-text;
        }
        #navbar a {
            color: $header-text;
        }
        #navbar .active a {
            color: $core-accent;
        }
    }
}
.slideme_container {
     @include clearfix;
     overflow: hidden;
     margin-top: - $header-height - 3rem;
     padding-top: $header-height + 3rem;
     height: 34.7rem;

     .slideoverlay {
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         background-color: rgba(0,0,0,0.5);
         z-index: -99;
     }
}
.showcase_container {
    @include clearfix;
    overflow: hidden;
    margin-top: - $header-height - 3rem;
    padding-top: $header-height + 1rem;
    position: relative;

    h1 {
        text-align: left;
        margin: 0;

        @extend .padding-horiz;

        @include breakpoint(mobile-only) {
            padding-bottom: 1rem;
            text-align: center;
        }
    }

    .showcaseoverlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: -99;
    }
}

.slideme .showcase {
    padding-bottom: 10rem;
    text-align: center;
    .button {
      margin: 0.5rem;
    }
}

.showcase {
    position: relative;
    z-index: 1;
    background-color: #666;
    background-size: cover;
    background-position: center;

    text-align: center;
    color: $header-text;

    h2 {
        text-transform: none;
        padding-left: $padding-horiz;
        padding-right: $padding-horiz;
        @include breakpoint(mobile-only) {
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;
        }
    }
    .button {

        &.button-chat-bubble {
            &:hover {
                border-color: $white;

                &:after {
                    border-color: transparent $white;
                }
            }

        }
    }
}
// Slideshow Arrows and Pagination
.slideme_container {
    .arrow {
        @extend .default-animation;
        position: absolute;
        display: block;
        width: 3.7rem;
        height: 3.7rem;
        cursor: pointer;
        z-index: 50;
        text-align: center;
        line-height: 3.8rem;
        background: $white;
        top: 50%;
        border-radius: 100%;
        font-size: 2.5rem;
        opacity: 0.5;
        color: $black;
        @include breakpoint(mobile-only) {
            font-size: 1.5rem;
            line-height: 2.8rem;
        }
        &:hover {opacity: 1;}
        &.prev {
            left: 4rem;
             @include breakpoint(mobile-only) {
                left: 1rem;
             }
        }
        &.next {
            right: 4rem;
            @include breakpoint(mobile-only) {
                right: 1rem;
             }
        }
        &:disabled {display: none;}
        @include breakpoint(mobile-only) {
            width: 2.7rem;
            height: 2.7rem;
        }
    }
    .arrow.next:before {content: '\f054';font-family: FontAwesome;margin-left: 0.4rem;}
    .arrow.prev:before {content: '\f053';font-family: FontAwesome;margin-right: 0.5rem;}

    .pagination {
        text-align: center;
        z-index: 5;
        position: absolute;
        left: 0;
        right: 0;
        vertical-align: middle;
        bottom: 5%;
        .numbers {
            li {
                @extend .default-animation;
                @include transition-duration(0.2s);
                background: $white;
                width: 0.5rem;
                height: 0.5rem;
                display: inline-block;
                border-radius: 100%;
                cursor: pointer;
                margin: 0 0.2rem;
                vertical-align: middle;

                &.current {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
    }
}
