// Font Family
$font-family-default:  			"Source Sans Pro",  "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light",  Helvetica, Arial, "Lucida Grande", sans-serif;
$font-family-header:  			"Source Sans Pro",  Helvetica, "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-mono: 				monospace;
$font-family-serif:				"Georgia", "Times", "Times New Roman", serif;

$icons: 						"FontAwesome";
